/* src/index.css */
@import "tailwindcss";

:root {
  /* Default Light Mode Colors (Matching Ant Design Default) */
  --bg-base: #ffffff;
  --text-base: #000000;
}

/* Dark Mode Overrides */
.dark {
  --bg-base: #141414; /* Ant Design Dark Background */
  --text-base: #ffffff;
}

body {
  background-color: var(--bg-base);
  color: var(--text-base);
  transition: background-color 0.3s, color 0.3s;
}
/* Sidebar Separator */
.ant-layout-sider {
    border-right: 1px solid rgba(5, 150, 105, 0.1); /* Emerald tipis */
}

html.dark .ant-layout-sider {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

/* Animasi Fade In untuk halaman */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}